body {
	margin: 30px 30px !important; 
	background-color: none !important;
}
table {
	border-collapse: separate !important;
	border-spacing: 15px !important;
	background-color: none !important;
}
p {
	text-align: center !important;
	font-weight: normal !important;
	background-color: none !important;
	margin-left: 0px !important; 
	}
.titles {
	font-size: 42px !important; 
	margin-left: 0px !important; 
	font-weight: bold !important;
	text-align: center !important;
	padding-bottom: 0px !important;
	margin-bottom: -25px !important;
}
.subtitles {
	font-size: 18px !important; 
	font-weight: bold !important; 
	text-align: center !important;
	margin-left: 40px !important; 
}
.mainoptions {
	/* viewport max-width adjustment for 3 across main options */
	max-width: 210px !important;
	/* fix for center option box sized smaller at 1200px */
	min-width: 200px !important;
	border: 1px solid black !important;	
	background-color: #f0f0f0 !important;
	/* viewport breakpoint test color 
	background-color: tomato !important; */
	/* padding adjustment for main icons, top & bottom set to 0 */
	padding-top: 0px !important;
	padding-right: 20px !important;
	padding-bottom: 0px !important;
	padding-left: 20px !important;
	/* position adjustments for main section */
	position: relative !important;
	height: 420px !important;
}
/* position adjustments for main section */
.mainoptionicon {
	position: absolute !important;
	top: 40px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;
	width: 100px !important;
	height: 100px !important;
}
/* override Grav framework CSS image control to position main option icons */
img {
 	margin: 0 !important;
}
.mainheadingcontainer {
	display: flex !important;
	flex-direction: row !important;
	text-align: center !important;
	/* postion adjustments for main section */
	margin-top: 90px !important;
}
.mainheadingcenter {
	text-align: center !important;
	margin: auto !important;
}
.mainheading {
	font-size: 36px !important; 
	text-align: center !important;
	font-weight: bold !important;
	color: green !important;
	background-color: none !important;
	margin-bottom: 0px !important;
	/* line height adjust for box re-sizing */
	line-height: 1.2 !important;
	padding-bottom: 10px !important;
}
.maintext {
	font-size: 20px !important; 
	text-align: center !important;
	color: black !important;
	background-color: none !important;
	line-height: 1.2 !important;
	margin-top: 0px !important;
}
.poptopic {
	text-align: center !important;
	background-color: none !important;
	border: none !important;
	min-width: 220px !important;
	padding-top: 0px !important;
	padding-right: 10px !important;
	padding-bottom: 0px !important;
	padding-left: 10px !important;
}
.poptopictitle {
	font-size: 20px !important;
	font-weight: bold !important;
	text-align: center !important;
	color: green !important;
	background-color: none !important;
	margin-top: 40px !important;
	line-height: 99% !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 10px !important;
	padding-left: 20px !important;
	line-height: 1.2 !important;
}
.poptopictext {
	font-size: 16px !important;
	font-weight: normal !important;
	text-align: center !important;
	color: black !important;
	background-color: none !important;
	margin-top: -30px !important;
	line-height: 1.2 !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 20px !important;
}
.poptopicicon {
	margin: auto !important;
	position: relative !important;
	height: 50px !important;
	width: 50px !important;
}
.poptopiccontainer {
	display: flex !important;
	flex-direction: row !important;
	text-align: center !important;
}
.poptopictextcenter {
	text-align: center !important;
	margin: auto !important;
}
@media (max-width: 1600px) {
	#chapter {
	margin-left: -50px !important;
	}
	.mainoptions {
		border: 1px solid black !important;
		background-color: none !important;
		/* viewport breakpoint test color 
		background-color: yellow !important; */
	}
	.mainheading {
		font-size: 30px !important; 
		 margin-top: 50px !important; 
		/* line height adjust for box re-sizing */
		line-height: 1.2 !important;
	}
	.maintext {
		font-size: 16px !important;
		padding: 1px 1px !important;
	}	
	.poptopiccontainer {
		display: flex !important;
		flex-direction: column !important;
		margin-bottom: -40px !important;
	}
	.poptopicicon {
		margin-top: 20px !important;
	}
	.poptopictextcenter {
		margin-top: -20px !important;
	}
}
@media (max-width: 1200px) {
	table, tr, td {
		/* inline-block enables stepped browser sizing */
		display: inline-block !important;
		text-align: center !important;
		margin: 5px !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.poptopiccontainer {
		flex-direction: column !important;
		}
	.titles {
		font-size: 36px !important; 
		text-align: center !important;
		margin-bottom: 0px !important;
	}
	.subtitles {
		font-size: 16px !important; 
		text-align: center !important;
		margin-left: 0px !important;
	}
	.mainheadingcontainer {
		margin-top: 190px !important;
	}
	.mainoptions {
		/* max-width adjustment to hold 3 across main headings */
		max-width: 185px !important;
		border: 1px solid black !important;
		min-height: 325px !important;
		max-height: 325px !important;
		background-color: none !important;
		/* 	viewport breakpoint test color 
		background-color: lightgreen !important; */
		}	
	.mainheading {
		font-size: 24px !important; 
		margin-top: -40px !important;
		/* line height adjust for box re-sizing */
		line-height: 1.2 !important;
	}
	.maintext {
		font-size: 16px !important;
		padding: 1px 1px !important;
		}
	.poptopic {
		max-width: 100px !important;
		padding-top: 0px !important;
		padding-right: 0px !important;
		padding-bottom: 0px !important;
		padding-left: 0px !important;
		}	
	.poptopicicon {
		text-align: center !important;
		margin-top: 0px !important;
		margin-bottom: 10px !important;
		margin-right: auto !important;
		margin-left: auto !important;
	}
	.poptopictitle {
		font-size: 18px !important;
		margin-top: 0px !important;
	}
	.poptopictext {
		font-size: 14px !important;
		max-width: 250px !important;
	}
	.poptopiccontainer {
		display: flex !important;
		flex-direction: column !important;
		margin-bottom: -10px !important;
		}
	.poptopictextcenter {
		margin-top: auto !important;
	}
}
